<header>
  <app-menu-bar />
</header>
<app-menu-title />
<div class="container__articles">
  <div class="article__main">
    <app-big-card
      photoCover="big-card-ex.png"
      cardTitle="Nova versão do Angular"
      cardDescription="Muitos recursos esperados na nova versão do Angular chegam melhorando performance e flexibilidade."
      />
  </div>
  <div class="article__others">
    <app-small-card
      photoCover="placeholder_image.webp"
      cardTitle="Open source code gains more followers"
      />
    <app-small-card
      photoCover="placeholder_image.webp"
      cardTitle="Intel shares fall sharply after recent problems"
      />
    <app-small-card
      photoCover="placeholder_image.webp"
      cardTitle="Electricity prices rise during recent dryout season"
      />
  </div>
</div>

